<div class= "contents row">
  <%= form_tag("/articles", method: :post) do %>
    <h3>
    投稿してください
    </h3>
    <ul><input type="text" name="title" placeholder="タイトル"></ul>
    <textarea name="content" placeholder = "文章を入力してください"  rows="10" cols="50"></textarea> 
    <ul><input type="submit" value="投稿！"></ul>
  <% end %>
</div>