<div class="contents row">
  <p><%= @nickname%>さんの投稿一覧</p>
  <% @articles.each do |article| %>
    <div class="a_content">
    <ul>タイトル:</ul>
    <%= simple_format(article.title)%>
    <ul>内容:<ul>
    <%= simple_format(article.content)%>
    </div>
</div>
  <% end %>
  <%= paginate(@articles)%>
</div>