body, html{
  height: 100%;
  background-color: #ffffff;
  padding:0 20px 10px 20px;
  list-style: none;
}

h1,h2,h3,h4,h5,h6,body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 20px
}

.header, .header a{
  font-size: 25px;
  font-weight: bold;
  color: white;
  background-color: gainsboro;
  text-align: center;
}

.box{
  border: 2px double lightslategrey;
  border-radius: 5px;
  margin: 5rem 0 1rem 0;
  list-style: none;
  margin: 30px auto;
  width: 79%;
}

a{
  text-decoration: none;
  color:lightseagreen;
}
.a_content{
  border: 2px double lightslategrey;
  margin-top:20px;
  border-radius: 5px;
  width: 650px;
  margin: 30px auto;
}

